body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

.wrapper {
  max-width: 1024px;
  margin: 2em auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
td, th {
  padding: 0.5em;
}

.table-row, label {
  cursor: pointer;
}

.table-row:hover {
  background: rgba(0,0,0,.2)
}

input {
  line-height: 2em;
  padding: 0 0.5em;
  min-width: 320px;
}